body{
    text-align: center;
    background: linear-gradient(#eed9ff 0%, #1f0038 100%);
    color: bisque;
    background-repeat: no-repeat;
}
h1{
    text-shadow: 2px 2px #010026;
}
.line{
    height:6px;
    background-color:black;
    width:70px;
    margin:8px auto;
}
img{
    border-radius: 50%
        width:100px;
}